* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  // letter-spacing: 0.5px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  max-width: 1050px;
  text-align: left;
  margin: 40px auto;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.822);
}

// All Candidates Table CSS
.table {
  border-radius: 8px;
  overflow: hidden;
  max-width: 1050px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 80px;
  & table {
    background-color: transparent;
    width: 100%;
    & thead {
      & tr {
        background-color: #f1f1f5;
        & th {
          padding: 12px 24px;
          text-transform: uppercase;
          color: #a2a2a3a2;
          font-size: 12px;
          text-align: left;
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
    & tbody {
      & tr {
        & td:last-child {
          padding: 12px 20px;
        }
        & td {
          font-size: 14px;
          color: #8b8b91;
          vertical-align: middle;
          text-align: left;
          padding: 18px 26px;
          white-space: nowrap;

          & .profile,
          .brand {
            display: flex;
            align-items: center;
            & img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              display: inline-block;
            }
            & p {
              margin-left: 10px;
              display: inline-block;
            }
          }
          & .brand {
            & img {
              display: inline-block;
              width: 30px;
              height: 30px;
            }
          }
          & .button {
            display: flex;
            align-items: center;
            & a:first-child {
              display: inline-block;
              border: none;
              outline: none;
              cursor: pointer;
              background-color: #f1f1f5;
              color: #898993;
              padding: 12px 20px;
              border-radius: 10px;
              font-size: 11px;
              font-weight: bold;
              &:hover {
                background-color: #e4e4e4;
              }
            }
            & a:last-child {
              display: inline-block;
              color: #a6a6ae;
              &:visited {
                color: #a6a6ae;
              }
              & i {
                display: inline-block;
                margin-left: 14px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

// Products List Table CSS
.wrap {
  max-width: 1050px;
}
.table2 {
  border-radius: 14px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 80px;
  max-width: 1050px;
  & table {
    width: 100%;
    text-align: right;
    border-collapse: separate;
    & thead {
      background-color: #e7e7e777;
      text-transform: uppercase;
      color: #777780;
      font-size: 12px;
      font-weight: bold;
      & tr {
        & th {
          vertical-align: middle;
          padding: 14px 10px;
          white-space: nowrap;

          & .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            & #checkboxId {
              display: none;
              &:checked + .checkbox-item {
                background-color: #39d991;
                color: white;
                border-color: #39d991;
                transition: all 0.25s ease;
              }
            }
            & .checkbox-item {
              cursor: pointer;

              font-size: 10px;
              display: inline-block;
              border: 1px solid #a0a0a0c4;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: transparent;
            }
          }
        }
        & th:first-child {
          border-radius: 10px 0 0 10px;
        }
        & th:nth-child(2) {
          text-align: left;
        }
        & th:last-child {
          border-radius: 0 10px 10px 0;
        }
        & th:not(:first-child, :nth-child(2)) {
          padding: 0 20px;
        }
      }
    }
    & tbody {
      & tr:hover td {
        border-color: #a9f3da;
      }
      & tr {
        border-radius: 20px;
        & td:nth-child(2) {
          text-align: left;
        }
        & td {
          padding: 14px 10px;
          vertical-align: middle;
          border: 2px solid transparent;
          border-style: solid none;
          transition: all 0.25s ease;
          font-size: 14px;
          white-space: nowrap;

          & .product-image {
            display: flex;
            align-items: center;
            & img {
              display: inline-block;
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 6px;
            }
            & p {
              margin-left: 14px;
            }
          }

          & .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            & #checkboxId1,
            #checkboxId2,
            #checkboxId3,
            #checkboxId4,
            #checkboxId5,
            #checkboxId6,
            #checkboxId7,
            #checkboxId8,
            #checkboxId9,
            #checkboxId10 {
              display: none;
              &:checked + .checkbox-item {
                background-color: #39d991;
                color: white;
                border-color: #39d991;
                transition: all 0.25s ease;
              }
            }
            & .checkbox-item {
              cursor: pointer;
              font-size: 10px;
              display: inline-block;
              border: 1px solid #a0a0a0c4;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: transparent;
            }
          }
        }
        & td:not(:nth-child(2)) {
          color: #8e8e95;
        }

        & td:first-child {
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
          border-left-style: solid;
        }
        & td:last-child {
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
          border-right-style: solid;
          & i {
            cursor: pointer;
          }
        }
        & td:not(:first-child, :nth-child(2)) {
          padding: 0 20px;
        }
      }
    }
  }
}

// Files Table
.wrap-table3 {
  max-width: 1050px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 14px;
}
.table3 {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 80px;
  max-width: 1050px;
  padding: 20px;
  background-color: #fafafb;
  & table {
    border-spacing: 0 10px;
    width: 100%;
    text-align: left;
    border-collapse: separate;
    background-color: #fafafb;
    & thead {
      background-color: #e7e7e777;
      color: #777780;
      font-size: 12px;
      font-weight: bold;
      & tr {
        & th {
          vertical-align: middle;
          padding: 14px 10px;
          white-space: nowrap;

          & .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            & #checkboxId0 {
              display: none;
              &:checked + .checkbox-item {
                background-color: #39d991;
                color: white;
                border-color: #39d991;
                transition: all 0.25s ease;
              }
            }
            & .checkbox-item {
              cursor: pointer;
              font-size: 10px;
              display: inline-block;
              border: 1px solid #a0a0a0c4;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: transparent;
            }
          }
        }
        & th:first-child {
          border-radius: 10px 0 0 10px;
        }
        & th:nth-child(2) {
          text-align: left;
        }
        & th:last-child {
          border-radius: 0 10px 10px 0;
        }
        & th:not(:first-child, :nth-child(2)) {
          padding: 0 20px;
        }
      }
    }
    & tbody {
      & tr:hover td {
        background-color: rgba(216, 216, 216, 0.425);
      }
      & tr {
        background-color: white;
        border-radius: 20px;
        & td:nth-child(2) {
          text-align: left;
        }
        & td {
          padding: 12px 10px;
          vertical-align: middle;
          transition: all 0.25s ease;
          font-size: 14px;
          white-space: nowrap;

          & .product-image {
            display: flex;
            align-items: center;
            & img {
              display: inline-block;
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 6px;
            }
            & p {
              margin-left: 14px;
            }
          }

          & .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            & #checkboxId11,
            #checkboxId12,
            #checkboxId13,
            #checkboxId14,
            #checkboxId15,
            #checkboxId16,
            #checkboxId17,
            #checkboxId18,
            #checkboxId19,
            #checkboxId20 {
              display: none;
              &:checked + .checkbox-item {
                background-color: #39d991;
                color: white;
                border-color: #39d991;
                transition: all 0.25s ease;
              }
            }
            & .checkbox-item {
              cursor: pointer;
              font-size: 10px;
              display: inline-block;
              border: 1px solid #a0a0a0c4;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: transparent;
            }
          }
          & .file {
            display: flex;
            align-items: center;
            justify-content: left;
            &-type {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: black;
              &--blue {
                background-color: #37b8ff;
              }
              &--green {
                background-color: #39d992;
              }
              &--orange {
                background-color: #f99031;
              }
            }
            & p {
              padding-left: 10px;
            }
          }
          & .action {
            display: flex;
            justify-content: space-between;
            &-download,
            &-trash {
              width: 30px;
              height: 30px;
              border: 1px solid red;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              border-radius: 6px;
              color: red;
              background-color: rgba(255, 192, 203, 0.247);
            }
            &-download {
              color: white;
              background-color: #2663ffe0;
              border-color: #2663ffe0;
            }
          }
        }
        & td:first-child {
          border-top-left-radius: 14px;
          border-bottom-left-radius: 14px;
        }
        & td:last-child {
          border-top-right-radius: 14px;
          border-bottom-right-radius: 14px;
          & i {
            cursor: pointer;
          }
        }
        & td:nth-child(6) {
          text-decoration: underline;
        }
        & td:not(:first-child, :nth-child(2)) {
          padding: 0 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .table,
  .table2,
  .table3 {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  h1 {
    margin: 20px auto;
  }

  .table::-webkit-scrollbar,
  .table2::-webkit-scrollbar,
  .table3::-webkit-scrollbar {
    display: none;
  }

  .table table thead tr th,
  .table table tbody tr td,
  .table2 table thead tr th,
  .table2 table tbody tr td,
  .table3 table thead tr th,
  .table3 table tbody tr td {
    padding: 8px;
  }
}
