* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  max-width: 1050px;
  text-align: left;
  margin: 40px auto;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.822);
}

.table {
  border-radius: 8px;
  overflow: hidden;
  max-width: 1050px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 80px;
}
.table table {
  background-color: transparent;
  width: 100%;
}
.table table thead tr {
  background-color: #f1f1f5;
}
.table table thead tr th {
  padding: 12px 24px;
  text-transform: uppercase;
  color: #a2a2a3a2;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
}
.table table tbody tr td:last-child {
  padding: 12px 20px;
}
.table table tbody tr td {
  font-size: 14px;
  color: #8b8b91;
  vertical-align: middle;
  text-align: left;
  padding: 18px 26px;
  white-space: nowrap;
}
.table table tbody tr td .profile,
.table table tbody tr td .brand {
  display: flex;
  align-items: center;
}
.table table tbody tr td .profile img,
.table table tbody tr td .brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
.table table tbody tr td .profile p,
.table table tbody tr td .brand p {
  margin-left: 10px;
  display: inline-block;
}
.table table tbody tr td .brand img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.table table tbody tr td .button {
  display: flex;
  align-items: center;
}
.table table tbody tr td .button a:first-child {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f1f1f5;
  color: #898993;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
}
.table table tbody tr td .button a:first-child:hover {
  background-color: #e4e4e4;
}
.table table tbody tr td .button a:last-child {
  display: inline-block;
  color: #a6a6ae;
}
.table table tbody tr td .button a:last-child:visited {
  color: #a6a6ae;
}
.table table tbody tr td .button a:last-child i {
  display: inline-block;
  margin-left: 14px;
  font-size: 18px;
}

.wrap {
  max-width: 1050px;
}

.table2 {
  border-radius: 14px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 80px;
  max-width: 1050px;
}
.table2 table {
  width: 100%;
  text-align: right;
  border-collapse: separate;
}
.table2 table thead {
  background-color: #e7e7e777;
  text-transform: uppercase;
  color: #777780;
  font-size: 12px;
  font-weight: bold;
}
.table2 table thead tr th {
  vertical-align: middle;
  padding: 14px 10px;
  white-space: nowrap;
}
.table2 table thead tr th .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table2 table thead tr th .checkbox #checkboxId {
  display: none;
}
.table2 table thead tr th .checkbox #checkboxId:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table2 table thead tr th .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table2 table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.table2 table thead tr th:nth-child(2) {
  text-align: left;
}
.table2 table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.table2 table thead tr th:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}
.table2 table tbody tr:hover td {
  border-color: #a9f3da;
}
.table2 table tbody tr {
  border-radius: 20px;
}
.table2 table tbody tr td:nth-child(2) {
  text-align: left;
}
.table2 table tbody tr td {
  padding: 14px 10px;
  vertical-align: middle;
  border: 2px solid transparent;
  border-style: solid none;
  transition: all 0.25s ease;
  font-size: 14px;
  white-space: nowrap;
}
.table2 table tbody tr td .product-image {
  display: flex;
  align-items: center;
}
.table2 table tbody tr td .product-image img {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.table2 table tbody tr td .product-image p {
  margin-left: 14px;
}
.table2 table tbody tr td .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table2 table tbody tr td .checkbox #checkboxId1,
.table2 table tbody tr td .checkbox #checkboxId2,
.table2 table tbody tr td .checkbox #checkboxId3,
.table2 table tbody tr td .checkbox #checkboxId4,
.table2 table tbody tr td .checkbox #checkboxId5,
.table2 table tbody tr td .checkbox #checkboxId6,
.table2 table tbody tr td .checkbox #checkboxId7,
.table2 table tbody tr td .checkbox #checkboxId8,
.table2 table tbody tr td .checkbox #checkboxId9,
.table2 table tbody tr td .checkbox #checkboxId10 {
  display: none;
}
.table2 table tbody tr td .checkbox #checkboxId1:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId2:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId3:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId4:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId5:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId6:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId7:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId8:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId9:checked + .checkbox-item,
.table2 table tbody tr td .checkbox #checkboxId10:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table2 table tbody tr td .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table2 table tbody tr td:not(:nth-child(2)) {
  color: #8e8e95;
}
.table2 table tbody tr td:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-left-style: solid;
}
.table2 table tbody tr td:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-right-style: solid;
}
.table2 table tbody tr td:last-child i {
  cursor: pointer;
}
.table2 table tbody tr td:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}

.wrap-table3 {
  max-width: 1050px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 14px;
}

.table3 {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 80px;
  max-width: 1050px;
  padding: 20px;
  background-color: #fafafb;
}
.table3 table {
  border-spacing: 0 10px;
  width: 100%;
  text-align: left;
  border-collapse: separate;
  background-color: #fafafb;
}
.table3 table thead {
  background-color: #e7e7e777;
  color: #777780;
  font-size: 12px;
  font-weight: bold;
}
.table3 table thead tr th {
  vertical-align: middle;
  padding: 14px 10px;
  white-space: nowrap;
}
.table3 table thead tr th .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table3 table thead tr th .checkbox #checkboxId0 {
  display: none;
}
.table3 table thead tr th .checkbox #checkboxId0:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table3 table thead tr th .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table3 table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.table3 table thead tr th:nth-child(2) {
  text-align: left;
}
.table3 table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.table3 table thead tr th:not(:first-child, :nth-child(2)) {
  padding: 0 20px;
}
.table3 table tbody tr:hover td {
  background-color: rgba(216, 216, 216, 0.425);
}
.table3 table tbody tr {
  background-color: white;
  border-radius: 20px;
}
.table3 table tbody tr td:nth-child(2) {
  text-align: left;
}
.table3 table tbody tr td {
  padding: 12px 10px;
  vertical-align: middle;
  transition: all 0.25s ease;
  font-size: 14px;
  white-space: nowrap;
}
.table3 table tbody tr td .product-image {
  display: flex;
  align-items: center;
}
.table3 table tbody tr td .product-image img {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
.table3 table tbody tr td .product-image p {
  margin-left: 14px;
}
.table3 table tbody tr td .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table3 table tbody tr td .checkbox #checkboxId11,
.table3 table tbody tr td .checkbox #checkboxId12,
.table3 table tbody tr td .checkbox #checkboxId13,
.table3 table tbody tr td .checkbox #checkboxId14,
.table3 table tbody tr td .checkbox #checkboxId15,
.table3 table tbody tr td .checkbox #checkboxId16,
.table3 table tbody tr td .checkbox #checkboxId17,
.table3 table tbody tr td .checkbox #checkboxId18,
.table3 table tbody tr td .checkbox #checkboxId19,
.table3 table tbody tr td .checkbox #checkboxId20 {
  display: none;
}
.table3 table tbody tr td .checkbox #checkboxId11:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId12:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId13:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId14:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId15:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId16:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId17:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId18:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId19:checked + .checkbox-item,
.table3 table tbody tr td .checkbox #checkboxId20:checked + .checkbox-item {
  background-color: #39d991;
  color: white;
  border-color: #39d991;
  transition: all 0.25s ease;
}
.table3 table tbody tr td .checkbox .checkbox-item {
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
  border: 1px solid #a0a0a0c4;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.table3 table tbody tr td .file {
  display: flex;
  align-items: center;
  justify-content: left;
}
.table3 table tbody tr td .file-type {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
}
.table3 table tbody tr td .file-type--blue {
  background-color: #37b8ff;
}
.table3 table tbody tr td .file-type--green {
  background-color: #39d992;
}
.table3 table tbody tr td .file-type--orange {
  background-color: #f99031;
}
.table3 table tbody tr td .file p {
  padding-left: 10px;
}
.table3 table tbody tr td .action {
  display: flex;
  justify-content: space-between;
}
.table3 table tbody tr td .action-download, .table3 table tbody tr td .action-trash {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  color: red;
  background-color: rgba(255, 192, 203, 0.247);
}
.table3 table tbody tr td .action-download {
  color: white;
  background-color: #2663ffe0;
  border-color: #2663ffe0;
}
.table3 table tbody tr td:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.table3 table tbody tr td:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.table3 table tbody tr td:last-child i {
  cursor: pointer;
}
.table3 table tbody tr td:nth-child(6) {
  text-decoration: underline;
}
.table3 table tbody tr td:not(:first-child, :nth-child(2)) {
  padding: 0 24px;
}

@media screen and (max-width: 767px) {
  .table,
.table2,
.table3 {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  h1 {
    margin: 20px auto;
  }

  .table::-webkit-scrollbar,
.table2::-webkit-scrollbar,
.table3::-webkit-scrollbar {
    display: none;
  }

  .table table thead tr th,
.table table tbody tr td,
.table2 table thead tr th,
.table2 table tbody tr td,
.table3 table thead tr th,
.table3 table tbody tr td {
    padding: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
